
<div class="input-wrapper">
    <input 
      type="text"
      class="dropdown-input"  
      [value]="SelectedName"
      readonly
    />
  
    <button (click)="openList()"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin">
      <svg  viewBox="0 0 24 24" width="24" height="24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </button>
     </div>
  
    <ng-template cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="detailsOpen"
      [cdkConnectedOverlayPositions]="positions"
      cdkConnectedOverlayWidth="300px"
      (overlayOutsideClick)="detailsOpen = false">
      
      <app-tree-select-dropdown 
      [isOpen]="detailsOpen"
      [nodes]="Items"
      (selectedValue)="OnNodeSelect($event)">
    </app-tree-select-dropdown> 
     
    </ng-template>
 
  