

.input-wrapper button { 
    position: absolute; 
    top: 50%; 
    right: 0; 
    border: none; 
    background-color: transparent; 
    cursor: pointer; 
    transform: translateY(-50%);
} 

.input-wrapper { 
    position: relative; 
    display: inline-block; 
} 