.tree-list {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
}  

    .tree-node {
      margin: 5px 0;
      padding-left: 10px;
      border-left: 1px solid #ccc;
    }

      .toggle-button {
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        color: #007BFF;
        display: flex;
        align-items: center;
    }
    
    .toggle-button:hover {
          text-decoration: underline;
          color: #0056b3;
        }
      
        .children {
          padding-left: 15px;
          list-style-type: none;
          padding-left: 0px; 
          margin: 0; 
          padding-top: 2px;
        }    
      

        .node-header {
          display: flex;
          align-items: center;
        }
        .nodeName{
          padding-left: 4px;
        }
